# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Editores e IDEs
.vscode/
.vs/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Ficheros de bloqueo de Office
~$*

# Fichero de envio al juez (se genera con generar_envio.py)
python/envio_historial.py

# C++
*.o
*.exe
*.out
cpp/test_lista
cpp/test_historial
cpp/lista
cpp/historial
cpp/envio_*.cpp
